<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>门诊系统</title>
    <link type="text/css" href="{{ url_for('static', filename='css/nurse.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- https://fontawesome.com/v5/icons/times?s=solid -->
    <script src="https://kit.fontawesome.com/0c1f4f1756.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/default.js') }}"></script>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

{#    <script>#}
{#        window.alert("提交成功")#}
{#    </script>#}
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="bg_shadow"></div>
                <div class="sidebar_inner">
                    <div class="close">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="profile_info">
                        <div class="profile_img">
                            <img src="../../static/img/1.jpg" alt="">
                        </div>
                        <div class="profile_data">
                            <p class="name">{{ results1[0] }}</p>
                            <span>欢迎您！</span>
                        </div>
                    </div>

                    <ul class="siderbar_menu">
                        <li>
                            <a href="/manager">
                                <div class="icon">
                                    <i class="fa-solid fa-folder-tree"></i>
                                </div>
                                <div class="title">查询</div>
                            </a>
                        </li>

                        <li>
                            <a href="/zhuyuan">
                                <div class="icon">
                                    <i class="fa-solid fa-clipboard-list"></i>
                                </div>
                                <div class="title">住院办理</div>
                            </a>
                        </li>
                    </ul>
                    <div class="register_btn">
                        <a href="/register1">挂号</a>
                    </div>
                    <div class="logout_btn">
                        <a href="/">退出登陆</a>
                    </div>
                </div>
        </div>

        <div class="main_container">
{#            上栏#}
            <div class="navbar">
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="logo">
                    <a href="#">xx医院</a>
                </div>
            </div>

            <div class="content">
                <div class="container mt-3">
	                <form action="/zhuyuan" method="get">
	                    <div class="mb-3 mt-3">
                            <label class="form-label">卡号:</label>
		                    <input type="text" class="form-control" id="p_id" placeholder="请输入病人卡号：" name="p_id">
	                    </div>
	                    <div class="mb-3">
		                    <label for="pwd" class="form-label">性别:</label>
		                    <input type="text" class="form-control" id="p_sex" name="p_sex">
	                    </div>
                        <div class="mb-3">
		                    <label for="pwd" class="form-label">科室:</label>
		                    <input type="text" class="form-control" id="department" name="department">
	                    </div>
                        <div class="mb-3">
		                    <label for="pwd" class="form-label">剩余床位数:{{ results2[0] }}</label>

	                    </div>
                        <button type="submit" class="btn btn-primary">提交</button>
	                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>